.site {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-left: solid 1px transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 5px 15px #aaaaaa;
}


/* pop up */
.popupContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: rgba(51, 51, 51, 0.1);
}

.popup {
    height: 80%;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup input, select, label {
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.popup button {
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    margin-top: 20px;
}

.abc {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    height: 2px;
    background-color: #c9c5c5;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* thông tin  */
.siteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block {
    padding: 20px;
}

.purchaseInvoicesInf {
    display: flex;
}

.supplierInf, .purchaseInvoicesDetailInf {
    display: flex;
}

.supplierInf p {
    width: 300px;
}

.purchaseInvoicesDetailInf {
    height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #333;
    border-top: solid 1px #333;

}

.blockbtn {
    display: flex;
    padding: 20px;
    padding-top: 0;
    justify-content: space-between;
}

.blockbtn div button {
    margin-right: 10px;
    margin-left: 10px;
}

.suplierInf p {
    /* margin-right: 250px; */
    width: 300px;
}

.purchaseInvoicesInf div {
    /* margin-right: 300px; */
    width: 350px;
}

.productInf {
    padding: 5px;
    padding-left: 0;
    display: flex;
}

.productInf p {
    /* margin-right: 100px; */
    width: 210px;
}

.create, .edit, .submit {
    width: 150px;
    height: 60px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 5px 5px #3333;
    font-weight: 600;
    box-sizing: border-box;
}

.edit:hover, .create:hover, .delete:hover, .submit:hover {
    color: rgb(248, 107, 107);
    background-color: #ffffff;
    box-shadow: 0 0 20px #1e1e1e33;
}

h2 {
    margin: auto;
    margin-top: 20px;
}

